
<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelDialog()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Chapter</h4>
</div>
<div class="modal-body">
  <embed src="http://presentatie.easyschool.nl/espresentatie_C01/ShowDocument.asp?CustID=813&ComID=7&DocID=1&Ext=.pdf" width="400" height="500"></embed>

<!-- 	<div style="height: 305px">
		<carousel interval="myInterval"> <slide
			ng-repeat="slide in slides" active="slide.active"> <img
			ng-src="{{slide.image}}" style="margin: auto;">
		<div class="carousel-caption">
			<h4>Slide {{$index}}</h4>
			<p>{{slide.text}}</p>
		</div>
		</slide> </carousel> 
	</div> -->
</div>
<div class="modal-footer"></div>
