<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

            <div class="modal-body text-center">
  <div class="modal-header bg-primary"><label >{{addExerciseData.subChapTitle.$viewValue}}</label></div>

							<div class="modal-body text-center">
								{{addExerciseData.subChapDescr.$viewValue}}

							</div>
							<div class="modal-body text-left ">

								<div  ng-repeat="question in questions.data" id="question{{question.id}}" >
            					<div> <label>{{question.id}}.   {{question.text}}  </label>
            					</div>
								<input type="text" name="answer" class="form-control ng-pristine ng-valid">
								
									<br />
      							
       							 </div>
       							</div> 
       							 <div class="modal-footer">
       							 <button class="btn btn-primary btn-sm" ng-click="">Submit</button>
       							 
       							 </div>
						</form>
		</div>
		
</body>
</html>