<nav class="navbar bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" width="20" length="20" src="img/GLO_logo_white.png">
      </a>
  </div>
   <ul class="nav navbar-nav">
   <li><a href="#/studentHome/{{userId}}" class="navlink">Home</a></li>
   <li><a href="#/curriculum" class="navlink">Curriculum</a></li>
   <li><a href="" class="navlink">Search</a></li>
   
   
   </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="j_spring_security_logout" class="navlink">Logout</a></li>
      </ul>
  </div>
</nav>