<!-- Navbar for all admins
 --><nav class="navbar bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" width="20" length="20" src="img/GLO_logo_white.png">
      </a>
  </div>
   <ul class="nav navbar-nav">
   <li><a href="#/studentHome" class="navlink">Home</a></li>
   <li><a href="#/chapterBuilder" class="navlink">Curriculum Builder</a></li>
   <li><a href="#/searchUsers" class="navlink">User Management</a></li>
   <li><a href="#/adminConsole" class="navlink">Admin Console</a></li>
   <li><a href="#/userinvite" class="navlink">User Invite</a></li>
   
   
   </ul>
    <ul class="nav navbar-nav navbar-right">
      	<li><a href="j_spring_security_logout" class="navlink">Logout</a></li>
      </ul>
  </div>
</nav>
